.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  padding: 8px 12px;
}

.nav-item:first-child {
  padding-left: 0px;
}

.nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3F4C6A;
}

.nav-link:hover {
  color: #F47EBF;
  border-bottom: solid 1px #F47EBF;
}

.active {
  color: #F47EBF;
}

